@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family:'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}


.recent-playlist-element{
  @apply pt-2 pr-4  my-6;
}
.recent-playlist-element button{
  background: black;
  letter-spacing: .1em;
  text-transform: capitalize;
}
.recent-playlist-element button:hover{
  background: rgb(54, 54, 54);
}



.playlist{
  @apply flex items-center justify-between;
}
.playlist p{
  text-overflow: ellipsis;
  width:33%;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}

.card.image-full::before{

background-color: rgba(1, 1, 1, 0.5);
background: linear-gradient(to top, rgba(1, 1, 1, 1.0) 40%, rgba(1,1,1, 0.5));
}