@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.disabled-text{
  color: hsl(0, 0%, 60%);
}
.progressBar{
  --bar-bg:#e5ebee;
  --seek-before-width: 0px;
  --seek-before-color: #686868;
  --knobby:#3452a5;
  --selectedKnobby:#26c9c3;


  appearance: none;
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width:100%;
  height: 5px;
  outline:none;
}

/* progress bar safari */
.progressBar::-webkit-slider-runnable-track{
  appearance: none;
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width:100%;
  height: 5px;
  outline:none;
}

/* progress bar seek before */
.progressBar::before{
  content:'';
  background: var(--seek-before-color);
  border-radius: 10px;
  position: absolute;
  width:var(--seek-before-width);
  height: 5px;
  top:0;left:0;z-index: 2;cursor: pointer;

  border-top-left-radius:10px ;
  border-top-right-radius:10px ;
}


/* progress bar thumb */
.progressBar::-webkit-slider-thumb{
  appearance: none;
  height:15px;
  width:15px;
  border-radius:50%;
  border:none;
  background:var(--knobby);
  z-index: 3;
  position: relative;margin: -5px 0 0 0;
  box-sizing: border-box;
  cursor: pointer;
}

/* progress bar knobby while dragging */
.progressBar:active::-webkit-slider-thumb{
  transform:scale(1.2);
  background:var(--selectedKnobby);
}